.site-welcome {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #888;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.site-welcome.active {
    display: flex;
}
.loading {
    height: 64px;
    width: 64px;
    position: relative;
}
.loading .outer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/icon-spin-s.png) no-repeat;
    animation: spin 800ms infinite linear;
}
.loading .inner, .loading .inner2 {
    position: absolute;
    width: 38px; height: 38px;
    border-radius: 40px;
    overflow: hidden;
    left: 13px; top: 13px;
}
.loading .inner {
    opacity: 1;    
    background-color: #89abdd;
    animation: second-half-hide 1.6s steps(1, end) infinite;
}
.loading .inner2 {
    opacity: 0;
    background-color: #4b86db;
    animation: second-half-show 1.6s steps(1, end) infinite;
}
.loading .spiner, .filler, .masker {
    position: absolute; width: 50%; height: 100%;
}
.loading .spiner {
    border-radius: 40px 0 0 40px;
    background-color: #4b86db;
    transform-origin: right center;
    animation: spin 800ms infinite linear;
    left: 0; top: 0;
}
.loading .filler {
    border-radius: 0 40px 40px 0;
    background-color: #4b86db;
    animation: second-half-hide 800ms steps(1, end) infinite;
    left: 50%; top: 0; opacity: 0;
}
.loading .masker {
    border-radius: 40px 0 0 40px;
    background-color: #89abdd;
    animation: second-half-show 800ms steps(1, end) infinite;
    left: 0; top: 0; opacity: 0;
}

.loading .inner2 .spiner, .loading .inner2 .filler {
    background-color: #89abdd;
}
.loading .inner2 .masker {
    background-color: #4b86db;
}










@keyframes spin {
    0% {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}
@keyframes second-half-hide {
    0% {opacity: 1;}
    50%, 100% {opacity: 0;}
}
@keyframes second-half-show {
    0% {opacity: 0;}
    50%, 100% {opacity: 1;}
}

hr { height: 0; border: none; border-top: 1px solid #dedede;}
a { color: inherit; }
.clearfix::after { content: ''; display: block; clear: both; }

.topNavBar { padding: 20px 0; position: fixed; top: 0; left: 0;
    width: 100%; transition: all .5s; color: #b7b7b7; }
.topNavBar.sticky { background: white; padding: 10px 0; z-index: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, .25); color: #3d4451; }
.topNavBar-inner { padding: 0 16px; }
.topNavBar nav { float: right; padding-top: 7px;}
.topNavBar nav ul {padding: 0;}
.topNavBar nav ul > li {float: left; margin: 0 17px; position: relative;}
.topNavBar nav ul > li > a { font-size: 12px; color: inherit; font-weight: bold;
    border-top: 3px solid transparent; border-bottom: 3px solid transparent;
    padding: 5px 0; display: block; }
.topNavBar nav > ul > li.highlight > a:after,
.topNavBar nav > ul > li.active > a:after { content: ''; display: block;
    position: absolute; top: 100%; left: 0; width: 100%; background: #e06567;
    height: 3px; animation: menuSlide .3s; }
@keyframes menuSlide { 0% {width: 0;} 100% {width: 100%;} }
.topNavBar .submenu { display: none; position: absolute; right: 0; top: 100%;
    background: white; color: #3d4451; box-shadow: 0 0 5px rgba(0, 0, 0, .5); }
.topNavBar nav > ul > li.active > .submenu { 
    display: block;
    animation: submenuSlide .3s;
}
@keyframes submenuSlide { 0% { margin-right: 100%;} 100% { margin-right: 0;} }
.topNavBar .submenu > li { white-space: nowrap; padding: 5px 10px; }
.topNavBar .logo { float: left; font-size: 24px; font-family: 'Arial Black'; padding-top: 3px; padding-bottom: 4px; }
.topNavBar .logo .RS {margin-right: 4px; color: #e6686a; }
.topNavBar .logo .card { color: #e6686a; }
